.history-wrapper {
    border-radius: 24px;
    background: rgba(26, 26, 26, .3);
    padding: 22px 17px;
    margin-top: 20px;
}

h2 {
    margin: 0 0 26px 0;
    font-size: 16px;
    font-weight: normal;
}

.history-item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
}